<table border="1">
    <tbody>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Department</th>
            <th>Role</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Join Date</th>
            <th>Location</th>
            <% if (locals.user.role === 'admin') { %>
                <th></th>
            <% } %>
        </tr>
<% employees.forEach( employee => { %>
    <tr>
        <td><%= employee.fname %></td>
        <td><%= employee.lname %></td>
        <td><%= employee.department %></td>
        <td><%= employee.role %></td>
        <td><%= employee.email %></td>
        <td><%= employee.phone %></td>
        <td><%= employee.joinDate %></td>
        <td><%= employee.location %></td>
        <% if (locals.user.role === 'admin') { %>
            <td>
                <button onclick="location.href = '/editEmployee/<%= employee.id %>'">
                    Edit
                </button>
                <button onclick="confirmEmployeeDelete(
                '<%= employee.id %>','<%= employee.fname %>','<%= employee.lname %>')">
                    Delete
                </button>
            </td>
        <% } %>
    </tr>
<% }) %>
</tbody>
</table>