<%- include('./partials/head', { pageTitle: 'Add Employee' }) %>

<%- include('./partials/header') %>

<div class="content">
<h1>Add Employee</h1> 
    <%- include('./partials/statusMessage') %>
    <form method="POST" action="/addEmployee">
        <div class="formGrid2ColContainer"> 

            <div class="formGridRow2Col">
                <label for="fname">First Name</label>
                <input name="fname" type="text" required />
            </div>
            <div class="formGridRow2Col">
                <label for="lname">Last Name</label>
                <input name="lname" type="text" required />
            </div>

            <div class="formGridRow2Col">
                <label for="department">Department</label>
                <select name="department">
                    <option value="" disabled selected>Select a department...</option>
                    <% Object.entries(DEPARTMENTS).forEach(([key, label]) => { %>
                        <option value="<%= key %>">
                            <%= label %>
                        </option>
                    <% }) %>
                </select>
            </div>
            <div class="formGridRow2Col">
                <label for="role">Role</label>
                <input name="role" type="text" required />
            </div>
            
            <div class="formGridRow2Col">
                <label for="email">Email</label>
                <input name="email" type="email" required 
                    placeholder="name@company.com" />
            </div>
            <div class="formGridRow2Col">
                <label for="phone">Phone</label>
                <input name="phone" type="text" required 
                    placeholder="+1 (123) 456-7890" />
            </div>
        
            <div class="formGridRow2Col">
                <label for="joinDate">Join Date</label>
                <input name="joinDate" type="date" required
                    placeholder="MM/DD/YYYY" />
            </div>

            <div class="formGridRow2Col">
                <label for="location">Location</label>
                <input name="location" type="text" required 
                    placeholder="New York, NY" />
            </div>

            <div class="mt-6 flex gap-3">
                <input type="submit" class="btn-submit" value="Save" />
                <input type="button" class="btn-secondary" value="Cancel" onclick="window.location.href='/dashboard'"/>
            </div>
        </div>
    </form>
</div>