<%- include('./partials/head', { pageTitle: 'Sign In' }) %>

<%- include('./partials/header') %>
<div class="content">
<% if(locals.error) { %>
    <div class="error-box"><%= error %></div>
<% } %>
<% if(locals.message) { %>
    <div class="message"><%= message %></div>
<% } %>
<div class="flex w-100 items-center justify-between">
<h1>Dashboard</h1> 
<a href="/addEmployee" class="btn-submit p-2">+ Add Employee</a>
</div>
<% if (employees.length === 0) { %>
    No employees found
<% } else { %>
    <%- include('./partials/employeeList', { employees: employees }) %>
<% } %>
</div>
<script>
    function confirmEmployeeDelete(id, fname, lname) {
        console.log('DELETE ID', id);
        const confirmed = confirm(`Are you sure you want to delete ${fname} ${lname}?`);
        if (confirmed) {
            fetch(`./deleteEmployee/${id}`, { method: 'POST' })
                .then(res => {
                if (res.ok) window.location.reload();
            });
        }
    }
</script>
<%- include('./partials/foot') %>