<%- include('./partials/head', { pageTitle: 'Dashboard' }) %>

<%- include('./partials/header') %>

<div class="content">
    <%- include('./partials/statusMessage') %>
    <div class="flex w-100 items-center justify-between">
        <h1>Dashboard</h1> 
        <a href="/addEmployee" class="btn-submit p-2"><i class="fa-solid fa-plus"></i> Add Employee</a>
    </div>

    <div class="mb-4">
        Total Employees: <%= employees.length %>
    </div>

    <div class="my-4">
        <h2>Recent Hires</h2>
        <% if(locals.recentHires.length > 0) { %>
            <div class="recentHiresContainer">
                <% recentHires.forEach( hire => { %>
                    <div class="recentHire">
                        <div class="recentHireName"><%= hire.fname %> <%= hire.lname %></div>
                        <div class="recentHireDepartment"><%= DEPARTMENTS[hire.department] %></div>
                        <div class="recentHireRole"><%= hire.role %></div>    
                        <div class="my-2">
                            <div class="recentHireEmail"><i class="fa-regular fa-envelope"></i> <%= hire.email %></div>
                            <div class="recentHirePhone"><i class="fa-solid fa-phone"></i> <%= hire.phone %></div>
                            <div class="recentHireLocation"><i class="fa-solid fa-location-dot"></i> <%= hire.location %></div>
                        </div>
                        <div class="recentHireJoinDate">Joined <%= hire.joinDate %></div>
                    </div>
                <% }) %>
            </div>
        <% } %>
    </div>
    <div class="my-4">
        <h2>All Employees</h2>
        <% if (employees.length === 0) { %>
            No employees found
        <% } else { %>
            <%- include('./partials/employeeList', { employees: employees }) %>
        <% } %>
    </div>
</div>
<script>
    function confirmEmployeeDelete(id, fname, lname) {
        console.log('DELETE ID', id);
        const confirmed = confirm(`Are you sure you want to delete ${fname} ${lname}?`);
        if (confirmed) {
            fetch(`./deleteEmployee/${id}`, { method: 'POST' })
                .then(res => {
                if (res.ok) window.location.reload();
            });
        }
    }
</script>
<%- include('./partials/foot') %>