<%- include('./partials/head', { pageTitle: 'Edit Employee' }) %>

<%- include('./partials/header') %>

<div class="content">
<h1>Edit Employee</h1>
    <% if(!employee) { %>
        Employee not found.
        <div class="my-4"><a href="/dashboard">< Back to Dashboard</a></div>
    <% } else { %>
    <form method="POST" action="/editEmployee/<%= employee.id %>">
        <div class="formGrid2ColContainer"> 

            <div class="formGridRow2Col">
                <label for="fname">First Name</label>
                <input name="fname" type="text" required value="<%= employee.fname %>" />
            </div>
            <div class="formGridRow2Col">
                <label for="lname">Last Name</label>
                <input name="lname" type="text" required value="<%= employee.lname %>" />
            </div>

            <div class="formGridRow2Col">
                <label for="department">Department</label>
                <select name="department">
                    <% Object.entries(DEPARTMENTS).forEach(([key, label]) => { %>
                        <option value="<%= key %>" <%= employee.department === key ? 'selected' : '' %>>
                            <%= label %>
                        </option>
                    <% }) %>
                </select>
            </div>
            <div class="formGridRow2Col">
                <label for="role">Role</label>
                <input name="role" type="text" required value="<%= employee.role %>" />
            </div>
            
            <div class="formGridRow2Col">
                <label for="email">Email</label>
                <input name="email" type="email" required 
                    placeholder="name@company.com" value="<%= employee.email %>" />
            </div>
            <div class="formGridRow2Col">
                <label for="phone">Phone</label>
                <input name="phone" type="text" required 
                    placeholder="+1 (123) 456-7890" value="<%= employee.phone %>" />
            </div>
        
            <div class="formGridRow2Col">
                <label for="joinDate">Join Date</label>
                <input name="joinDate" type="date" required
                    placeholder="MM/DD/YYYY" value="<%= employee.joinDate %>"  />
            </div>

            <div class="formGridRow2Col">
                <label for="location">Location</label>
                <input name="location" type="text" required 
                    placeholder="New York, NY" value="<%= employee.location %>" />
            </div>

            <div class="mt-6 flex gap-3">
                <input type="submit" class="btn-submit" value="Save" />
                <input type="button" class="btn-secondary" value="Cancel" onclick="window.location.href='/dashboard'"/>
            </div>
        </div>
    </form>
    <% } %>
</div>